.devcontainer/
.vscode/
__pycache__/

# ignore CodeLinker config
*.toml

# ignore data and result
schemabench/data/
schemabench/results/
train/data/
train/results/

# wandb
wandb/

# huggingface cache
.cache/
